In [22]:
import mysql.connector as sql
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
conn = sql.connect(
    host="localhost",
    port=3306,
    user="root",
    passwd="Password1234!",
    db="siglonuevo")
cursor = conn.cursor()

In [24]:
db_cursor = conn.cursor()
db_cursor.execute('SELECT fecha, COUNT(*) FROM siglodb group by fecha')
table_rows = db_cursor.fetchall()
df = pd.DataFrame(table_rows)

In [35]:
df.columns =["fecha", "CantidadNotas"]
df.head()

        fecha  CantidadNotas
0  2020-01-01            222
1  2020-01-02            321
2  2020-01-03            334
3  2020-01-04            253
4  2020-01-05            219

In [36]:
%matplotlib
df.plot(x="fecha")

Using matplotlib backend: Qt5Agg